body {
  padding-top: 60px;
  position: relative;
  background-color: #e8e8ed;
}
/*estilos de la barra lateral desplegable*/
@media screen and (max-width: 768px) {
  .side-collapse-container{
    width: 100%;
    position: relative;
    left: 80px;
    transition:left .4s;
    padding-left: 15px;
  }
  .side-collapse-container.out{
    left: 200px;
  }
  .side-collapse {
    top: 0px;
    bottom: 0;
    left: 0;
    width: 250px;
    position: fixed;
    overflow: hidden;
    transition: width .4s;
    background-color: #ffffff;
  }
  .side-collapse.in {
    width:0;
  }
}

.navbar-header{
  background-color: #3e3f41;
}  

.navbar-toggle {
 border-color: none;
 background-color: none;
 border-radius: none;
 border: none;
}

.navbar-inverse .navbar-nav>li>a{
  color: black;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: transparent;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:visited,
.navbar-inverse .navbar-nav>li>a:active {
  color: transparent;
  background-color: transparent;
}

.navbar-brand{ /*logo Trans-Lab centrado*/
  display: block;
  text-transform: uppercase;
  text-align: center;
  float: none;
  height: inherit;
}
.navbar-brand:hover{
  color: #ffffff;
}

.navbar-nav>li>a {
  display: flex;
  align-items: center;
  padding: 15px;
}

.navbar-nav>li>a:hover{
  background-color: none;
}

.fa-2x { /*estilos íconos amarillos/opciones*/
  text-align: center;
  color: #f6a800;
}

ul{
  top: 180px;
  text-decoration: none;
  list-style: none; /*saca viñetas de la lista!*/
}

.iconos{   /*span creado para contener los ìconos */
  color: #F6A800;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.user{
  background-color:  #F6A800;
  margin-top: -15px;
  padding: 30px;
  text-align: center;
}

.lowprofile{
  background-color: #cfcfd1;
  height: 100vh;
  padding: 50px;
}

.mail{
  background-color: white;
}

.img-circle{
  width: 200px;
  height: 200px;
  display: block;
}

.mail-usuario{
  display: block;
}

#card{
  background-color: #F6A800;
  width: 100%;
  margin-top: 10px;
  color: #fff; 
}

.cardnumber{
  border-radius: none;
  border-color: transparent;
  border-bottom: 1px solid #3e3f41;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 50px;
  margin-top: 50px;
}

#saldo{
  color:#fff;
  /* border-color: #ccc; */
  background-color: #FCAD00;
  border: none;
  color: white;
  padding: 5px;
  font-size: 20px;
  width: 50%;
  margin-top: 50px;
}

.calcularbtn{
  margin-left: 100px;
}

.caja-saldo{
  display: block;
  width: 90%;
  margin: auto;
  margin: 40px;
}

.ve-tu-saldo{
  width: 50%;
  height: 100px;
  /*background-color: #F6A800; muestra siempre el fondo de ese color, no solamente cuando  muestra el saldo =(*/
  color: darkgoldenrod;
  display: block;
  margin-top: 90px;
}

.ve-tu-saldo>h4{
  font-size: 16px;
}

#saldo-total{
  font-size: 30px;
  font-weight: bolder;
}
/*estilos cajitas nuevas creadas desde el JS*/
/*cajitas de ver saldo y calcular tarifa*/
.wrapper, .saldoFinal{
  width: 100%;
  height: 100px;
  background-color: #F6A800; 
  color: #3e3f41;
  display: block;
  margin-top: 60px;
  margin-bottom: 5px;
}

.saldoup, .saldoFinalUp{
  font-size: 36px;
  font-weight: bolder;
  padding-bottom: 5px;
  color: #fff;
}

.costo, .final{
  color: grey;
  font-size: 20px;
  font-weight: bold;
}